.container {
  height: 393px;
  padding-left: 30px;
  padding-right: 30px;
  .list {
    &:last-child {
      padding-bottom: 28px;
    }
    display: flex;
    height: 182px;
    justify-content: space-between;
    flex-wrap: wrap;
    .item {
      display: flex;
      padding-top: 30px;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .name {
        width: 128px;
        font-size: 24px;
        /*px*/
        text-align: center;
      }
    }
    .listImg {
      position: relative;
      width: 128px;
      height: 128px;
      overflow: hidden;
      border-radius: 10px;
      // margin-bottom: 20px;
      .h5Mark {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 60%;
      }
      img {
        width: 108px;
      }
    }
  }
}
